{% extends "@AcMarcheDuobac/base.html.twig" %}

{% block body %}

    <h3>Pesées pour {{ (years|length) +1 }} années</h3>

    <div id="line-chart"></div>
    <div id="column-chart"></div>

    {{ graph1|raw }}
    {{ graph2|raw }}

{% endblock %}
