{% extends "@AcMarcheDuobac/base.html.twig" %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Pesées pour {{ (years|length) +1 }} années</h3>

        <div class="card-body">

            {{ render_chart(chart) }}
        </div>
    </div>

{% endblock %}
