{% extends "@AcMarcheDuobac/base.html.twig" %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Pesées pour {{ (years|length) +1 }} années</h3>

        <div class="card-body">

            <div id="line-chart"></div>
            <div id="column-chart"></div>

            {# { graph2|raw } #}
            {{ graph1|raw }}

        </div>
    </div>

{% endblock %}
