{% extends "@AcMarcheDuobac/base.html.twig" %}

{% block body %}

    <div class="card">
        <div class="card-header"><h3>Pesées pour l'année {{ year }}</h3>
            <span class="text-muted">{{ charge }} personne(s) à charge cette année</span>
        </div>
        <div class="card-body">
            {{ render_chart(chart) }}

            {% include '@AcMarcheDuobac/pesee/_tableau.html.twig' %}
        </div>
    </div>

{% endblock %}
