{% extends "@AcMarcheDuobac/base.html.twig" %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Pesées pour l'année {{ year }}</h3>
        <div class="card-body">
            {{ render_chart(chart) }}
        {# {% include '@AcMarcheDuobac/pesee/_tableau.html.twig' %} #}
        </div>
    </div>

{% endblock %}
