{% if is_granted('ROLE_DUOBAC') %}
    {% set action = app.request.attributes.get("_route") %}
    <li class="nav-item{% if action == 'duobac_decennie' %} active{% endif %}">
        <a class="nav-link" href="{{ path('duobac_pesee_all') }}">
            {{ (years|length) + 1 }} ans de duobac
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown10" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Relevés par année... <b class="caret"></b></a>
        <div class="dropdown-menu" aria-labelledby="dropdown10">
            {% for year in years %}
                <a class="dropdown-item" href="{{ path('duobac_annee', {'year':year}) }}">{{ year }}</a>
            {% endfor %}
        </div>
    </li>
{% endif %}