{% extends "@AcMarcheDuobac/base.html.twig" %}

{% block body %}
    <div class="card mb-3">
        <h3 class="card-header">Service gestion du duobac</h3>
        <div class="card-body">
            <a href="https://www.marche.be/administration/?p=91" target="_blank">
                Services Recette – Taxes
            </a>
        </div>
    </div>
{% endblock %}
