{% extends "@AcMarcheDuobac/base.html.twig" %}

{% block body %}

    <h3>Service de la gestion du duobac</h3>

    <a href="https://www.marche.be/administration/?p=91" target="_blank">
        Services Recette – Taxes
    </a>

    <h3>Un soucis technique avec ce site ?</h3>

    <a href="https://www.marche.be/administration/les-services-communaux/centre-de-support-telematique-cst-76/" target="_blank">
        Centre de Support Télématique (CST)￼
    </a>

{% endblock %}
