{% extends "@AcMarcheDuobac/base.html.twig" %}

{% block body %}
    <div class="card mb-3">
        <h3 class="card-header">Bienvenue sur la consultation de votre duobac</h3>
        <div class="card-body">
            {% if not is_granted('ROLE_DUOBAC') %}
                <a href="{{ path('app_login') }}">Connectez vous pour consulter vos pesées</a>
            {% else %}
                <p>Sélectionnez dans le menu</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
