{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <li class="nav-item{% if action == 'duobac_index' %} active{% endif %}">
        <a class="nav-link" href="{{ path('duobac_list') }}">
            Mes duobacs
        </a>
    {{ render(controller(
        'AcMarche\\Duobac\\Controller\\DefaultController::menuUser',
        { 'max': 3 }
    )) }}
</li>
{% endif %}
<li class="nav-item{% if action == 'duobac_contact' %} active{% endif %}">
    <a class="nav-link" href="{{ path('duobac_contact') }}">
        Contact
    </a>
</li>