{% extends '@AcMarcheDuobac/base.html.twig' %}

{% block title %}
    {{ status_text }}
{% endblock %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">Page non trouvée</h3>

        <div class="card-body">
            <div class="alert alert-danger">
                <a href="{{ path('duobac_home') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>

{% endblock %}
